@font-face {
    font-family: "PressStart2P";
    src: url(./assets/PressStart2P.ttf) format("opentype");
}

body{
    margin: 0;
    background: url(./assets/background.png);
    background-size: 10%;
    font-family: PressStart2P;
    overflow: overlay;
}

body.full-view-enabled {
    overflow: hidden;
}

.flex-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plaque {
    padding: 3px 6px;
    color: rgb(80, 80, 80);
    text-align: center;
    text-shadow: 2px 2px 1px rgb(120, 120, 120);
    background:rgb(148, 148, 148);
    border: 10px solid rgb(60, 60, 60);
    border-image: url(./assets/border-plaque.png) 33% stretch;
}

.plaque-medium {
    padding: 6px 12px;
    border-width: 20px;
}

.plaque-large {
    padding: 12px 24px;
    border-width: 40px;
}

h1 {
    margin: 24px 48px;
}

#nav-menu a {
    color: rgb(100, 100, 100);
}

#nav-menu a.current-page,
#nav-menu a:hover {
    color: rgb(80, 80, 80);
    cursor: pointer;
}

#nav-menu a:not(:first-child) {
    margin-left: 12px;
}

#container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.picture-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.picture-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px;
}

.picture {
    margin: 48px 48px 12px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: 20px solid goldenrod;
    border-image: url(./assets/border-pattern.png) 33% round;
}

.picture:hover {
    cursor: pointer;
}

.picture-caption {
    width: fit-content;
    font-size: 10px;
}

#fill-size-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(60, 60, 60, 0.95);
    transition: opacity 0.5s;
}

#fill-size-container.hidden {
    opacity: 0;
    pointer-events: none;
}